
body {
	font-family: helvetica;
}

h1 {
	color: black;
}

a:link {
 	color: black;
 	text-decoration: none;
 }
a:visited {
 	color: #5bc44d;
 	text-decoration: none;
 }

a:hover {
    color: black;
}